a {
  color: rgb(50, 241, 50);
}

a[target="_blank"] {
  color: red;
}
 
h2 ~ p::after {
  content: "-NEW";
  color: rgb(255, 255, 0);
}

p:nth-child(7) ~ p:hover {
  font-style: italic;
}

h3 ~ p:nth-child(even) {
  color: red;
}

h3 ~ p:nth-child(odd) {
  color: blue;
}