a[target] {
  color: rgb(50, 241, 50);
}

a[target="_blank"] {
  color: red;
}

div p:nth-child(even) {
  color: red;
}

div p:nth-child(odd) {
  color: blue;
}

h2 ~ p::after {
  content: "-NEW";
  color: rgb(255, 255, 0);
}

div > p:nth-last-child(2) + p:hover {
  font-style: italic;
}